.env
.env*.local

dist

packages/**/*/node_modules
packages/**/*/dist

examples/**/*/dist
examples/**/*/build
examples/**/*/.next
examples/**/*/.yarn
examples/**/*/out
examples/**/*/data
examples/**/*/next-env.d.ts
examples/**/*/package-lock.json
dev.db

# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Yarn/NPM/Bun
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
deno.lock
node_modules
package-lock.json
yarn.lock

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.vim
